#slideshow {
  margin: 50px auto;
  position: relative;
  color: black;
  width: 400px;
  height: 300px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow > div {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 10px;
  bottom: 10px;
}
